service: "${projectName}-${opt:stack}"

provider:
  name: aws
  endpointType: REGIONAL
  runtime: nodejs14.x
  architecture: arm64
  memorySize: 256
  timeout: 8
  logRetentionInDays: 30
  stage: '${opt:env}'
  region: '${opt:region}'
  deploymentBucket:
    name: '${namespace}.${opt:region}.${self:provider.stage}.deploys'
  environment:
    ENVIRONMENT: '${self:provider.stage}'
  versionFunctions: false

{{#nccEnabled}}
package:
  patterns:
    - '!**'
    - 'lib/**'
{{/nccEnabled}}
{{^nccEnabled}}
package:
  patterns:
    - '!test/**'
    - '!coverage/**'
    - '!config/**'
    - '!src/**'
{{/nccEnabled}}

<<<:
  - ${file(^/${opt:stack}.yml), service=${projectName}}
