resources:
  Resources:
    Dynamo${table|TITLE|STRIP}Table:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${opt:service}-${opt:stack}-${self:provider.stage}-${table|LOWER}
        BillingMode: PAY_PER_REQUEST
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
{{#tableStreamEnabled}}
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
{{/tableStreamEnabled}}
        Tags:
          service: ${self:service}
          stage: ${self.provider.stage}
          resource: Dynamo${table|TITLE|STRIP}Table

  Outputs:
    Dynamo${table|TITLE|STRIP}TableArn:
      Value:
        "Fn::GetAtt": Dynamo${table|TITLE|STRIP}Table.Arn
    Dynamo${table|TITLE|STRIP}TableName:
      Value:
        "Ref": Dynamo${table|TITLE|STRIP}Table
{{#tableStreamEnabled}}
    Dynamo${table|TITLE|STRIP}TableStreamArn:
      Value:
        "Fn::GetAtt": Dynamo${table|TITLE|STRIP}Table.StreamArn
{{/tableStreamEnabled}}
