resources:
  Resources:
    ${queue|TITLE|STRIP}Queue:
      Type: AWS::SQS::Queue
      Properties:
        DelaySeconds: 0
{{#fifoQueue}}
        FifoQueue: true
{{/fifoQueue}}
        MaximumMessageSize: 262144
        MessageRetentionPeriod: 345600
        ReceiveMessageWaitTimeSeconds: 0
        VisibilityTimeout: ${queueVisibilityTimeout}
        RedrivePolicy:
          deadLetterTargetArn:
            Fn::GetAtt:
              - ${queue|TITLE|STRIP}DeadLetterQueue
              - Arn
          maxReceiveCount: 10
    ${queue|TITLE|STRIP}DeadLetterQueue:
      Type: AWS::SQS::Queue
      Properties:
{{#fifoQueue}}
        FifoQueue: true
{{/fifoQueue}}
        MessageRetentionPeriod: 1209600

  Outputs:
    ${queue|TITLE|STRIP}QueueUrl:
      Value:
        Ref: ${queue|TITLE|STRIP}Queue
    ${queue|TITLE|STRIP}QueueArn:
      Value:
        Fn::GetAtt: [ '${queue|TITLE|STRIP}Queue' , Arn ]
    ${queue|TITLE|STRIP}DeadLetterQueueUrl:
      Value:
        Ref: ${queue|TITLE|STRIP}DeadLetterQueue
    ${queue|TITLE|STRIP}DeadLetterQueueArn:
      Value:
        Fn::GetAtt: [ '${queue|TITLE|STRIP}DeadLetterQueue' , Arn ]
