{
  "scripts": {
    "clean": "rm -rf lib build .webpack",
{{#nccEnabled}}
    "build": "ncc build src/hangler.js -o lib{{#nccExclude}} -e {{nccExclude}}{{/nccExclude}} && mv lib/index.js lib/hangler.js",
    "ncc-analyze": "yarn clean && ncc build -m -s src/hangler.js -o lib{{#nccExclude}} -e {{nccExclude}}{{/nccExclude}} && npx source-map-explorer lib/index.js --only-mapped --html source.html && yarn clean",
{{/nccEnabled}}
{{^nccEnabled}}
    "build": "cp -rf ./src ./lib",
{{/nccEnabled}}
    "build-clean": "yarn run clean && yarn run build",
    "test-simple": "yarn run build-clean && c8 mocha --experimental-loader=./test/hot.js \"./test/**/*.spec.js\"",
    "test": "yarn run clean && yarn run gardener && yarn run test-simple",
    "docker": "docker run --net host -u`id -u`:`id -g` -v $(pwd):/user/project -v ~/.aws:/user/.aws -v ~/.npmrc:/user/.npmrc -w /user/project -it --entrypoint /bin/bash",
    "u": "yarn upgrade --latest --force",
    "i": "yarn install --frozen-lockfile",
    "it": "yarn run i && yarn run t",
    "t": "yarn test",
    "ts": "yarn run test-simple",
    "tsv": "yarn run test-simple --verbose",
    "gardener": "node gardener.js",
    "start-offline": "yarn sls-compile --region=${awsRegion} --env=offline && yarn run build-clean && sls offline start --config serverless-offline.config.yml --stack=api-offline",
    "sls-compile": "node serverless/compile.js",
    "lib-test": ". ./test/lib-test.sh",
    "lt": "yarn run lib-test"
  },
  "files": []
}
